-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include: 
= check_box_tag "ratings[#{'G'}]"
= check_box_tag "ratings[#{'PG'}]"
= check_box_tag "ratings[#{'PG-13'}]"
= check_box_tag "ratings[#{'R'}]"
= submit_tag 'Refresh'
%table#movies
  %thead
    %tr
      %th= link_to "Movie Title", :sort => "title"
      %th Rating
      %th= link_to "Release Date", :sort=> "release_date"
      %th More Info
      //%th This is a test
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
        //%td= link_to "This is a test", movie_path(movie)
      



= link_to 'Add new movie', new_movie_path

