-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th= link_to "Movie Title", :sort => "title"
      %th Rating
      %th= link_to "Release Date", :sort=> "release_date"
      %th More Info
      //%th This is a test
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
        //%td= link_to "This is a test", movie_path(movie)
      

= link_to 'Add new movie', new_movie_path
// used this button to execute my database clearing function. It causes the site to crash, but it also clears the database like I want.
//= button_to 'Delete All', @movies.destroy_all(), :method => :delete, :confirm => 'Are you sure?'
